@import "@fontsource/fira-mono";

/* Cyan Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
	--primary: #bb1f39;
	--primary-hover: #f47c90;
	--primary-focus: rgba(187, 31, 57, 0.125);
	--primary-inverse: #fff;
}

/* Cyan Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--primary: #d52b47;
		--primary-hover: #fda4b3;
		--primary-focus: rgba(187, 31, 57, 0.25);
		--primary-inverse: #fff;
	}
}

/* Cyan Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
	--primary: #d52b47;
	--primary-hover: #fda4b3;
	--primary-focus: rgba(187, 31, 57, 0.25);
	--primary-inverse: #fff;
}

/* Cyan (Common styles) */
:root {
	--form-element-active-border-color: var(--primary);
	--form-element-focus-color: var(--primary-focus);
	--switch-color: var(--primary-inverse);
	--switch-checked-background-color: var(--primary);

	/* Custom Variables */
	--spacing-hero: 2rem;
}
